services:
  camihogar:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: camihogar-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_SECURITY_API_URL=http://camihogar.eastus.cloudapp.azure.com:8082
      - NEXT_PUBLIC_USERS_API_URL=http://camihogar.eastus.cloudapp.azure.com:8083
      - NEXT_PUBLIC_PROVIDERS_API_URL=http://camihogar.eastus.cloudapp.azure.com:8084
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

